@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Quicksand:wght@300&display=swap');
.navContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./Line2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    font-size: 15pt;
    font-family: 'Comfortaa' , Georgia, Times, serif;
    padding: 2rem;
}
img{
    height: 100px;
}
ul{
    display: flex;
    list-style-type: none; 
}

li{
    margin-right: 5rem;
    cursor: pointer;
}

li:active{
    color:brown;
}

.Link{
    color: rgb(254, 145, 1)!important;
}
